# Specifies intentionally untracked file system entries to ignore.
#
# Notes:
# 1. Do not commit .gitignore files in sub directories of the repository,
# as they would have to be explicitly excluded when generating the installer,
# building the project and in other situations.
# 2. Use the full path to a dir when you want to exclude a directory
# and everything it contains. Start with repo-root, which is "/",
# and do NOT use a "/" at the end, as this would fail if that dir is a symlink.
# good example:
# /game/maps
# bad examples:
# game/maps
# game/maps/
#
# For more details about how this file works, see:
# http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#

# The normal build directories
/tsc/build
/tsc/crossbuild
/tsc/CMakeFiles

# Dependencies
/tsc/mruby
/tsc/cegui

# Generated
/tsc/*.log
/tsc/*.exe
/tsc/*.dll
/tsc/*.manifest
/tsc/stdout.txt
/tsc/stderr.txt
/tsc/CMakeCache.txt
/tsc/install_manifest.txt
/tsc/Makefile
/tsc/config.hpp
/tsc/credits.cpp
/tsc/docs/scripting/html/
/tsc/docs/scripting/rdoc/
/tsc/docs/api/
/tsc/docs/ssl/
Thumbs.db
*.mo
*.gmo

# Arch package
/tsc/extras/archlinux/TSC
/tsc/extras/archlinux/pkg
/tsc/extras/archlinux/*.tar.xz
/tsc/extras/archlinux/src

# Visual Studio
/tsc/makefiles/MSVC9.0/Debug
/tsc/makefiles/MSVC9.0/Mixed
/tsc/makefiles/MSVC9.0/Release
/tsc/makefiles/MSVC9.0/*.user
/tsc/makefiles/MSVC9.0/*.aps
/tsc/makefiles/AQtime
/tsc/extras/binaries
*.ncb
*.suo
*.bsc
*.ilk
*.pgd
*.pgc

# QT Creator
CMakeLists.txt.user*

# Vim
*.swp

# Gedit and Emacs
*~

# Installer
/tsc/extras/Setup/*.exe

# Extra
/usable
/*.txt
/*.rtf
/*.lnk
