[submodule "mruby/mruby"]
	path = mruby/mruby
	url = https://github.com/mruby/mruby.git
[submodule "mruby/mgems/mruby-sleep"]
	path = mruby/mgems/mruby-sleep
	url = https://github.com/matsumoto-r/mruby-sleep.git
[submodule "mruby/mgems/mruby-pcre-regexp"]
	path = mruby/mgems/mruby-pcre-regexp
	url = https://github.com/mattn/mruby-pcre-regexp.git
[submodule "mruby/mgems/mruby-md5"]
	path = mruby/mgems/mruby-md5
	url = https://github.com/mattn/mruby-md5.git
[submodule "mruby/mgems/mruby-json"]
	path = mruby/mgems/mruby-json
	url = https://github.com/mattn/mruby-json.git
[submodule "tinyclipboard"]
	path = tinyclipboard
	url = git://git.guelkerdev.de/tinyclipboard.git
