[Desktop Entry]
Type=Application
Name=Secret Maryo Chronicles
Comment=Two-dimensional platform game with a design similar to classic computer games
Comment[de]=Zweidimensionales Plattformspiel mit einem klassischen Computerspielen ähnelnden Design
Icon=smc
Exec=smc %f
Terminal=false
StartupNotify=true
Categories=Game;ArcadeGame;
